<div class="modal fade" id="addModal" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Nuevo contenido</h3>
        </div>
        {# Here will be appended the part from the specific form #}
      </div>
    </div>  
</div>

