<script id="confirm-delete-template" type="text/template">
    <div>El contenido se eliminará definitivamente del sistema</div>
    <div class="clearfix">
        <div class="pull-left">
            <a class="confirm-delete btn btn-medium btn-danger" href="#">Borrar</a>
        </div>
        <div class="pull-right">
            <a class="cancel-delete btn btn-medium" href="#">Cancelar</a>
        </div>
    </div>
</script>
